*{
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
.container{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  font-size: 16px;
}
h1{
  text-align: center;
  padding: 15px 0;
  font-size: 32px;
}
a{
  text-decoration: none;
  color: inherit;
}
.link_button{
  font-weight:bold;
}
.link_button:hover{
  color: blue;
}
body{
  margin: 0;
}
/* ナビゲーション */
.header-nav{
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: blanchedalmond;
  border: 1px solid #000000;
  z-index: 2;
  height: 50px;
}
.header-menu{
  display: inline-flex;
  max-width: 800px;
  width: 100%;
}
.header-menu-list{
  width: 25%;
  padding: 10px;
}
/* 投稿画面 */
.main{
  text-align: center;
  width: 100%;
  font-size: 0;
  padding-top: 30px;
  padding-bottom: 1000px;
}
article{
  text-align: left;
  width: 48%;
  margin: 0 1%;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 15px;
  max-width: 640px;
}
.post-img-box{
  height: 100%;
  max-width: 608px;
  max-height: 352px;
  font-size: 0;
}
.post-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}
.post-text-top{
  position: relative;
  text-align: right;
  height: 45px;
}
.border-user-icon{
  position: absolute;
  top: -45px;
  /* left: 5px; */
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #e0ffff;
  box-sizing: border-box;
}
.user-icon{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
}
.circle-btn{
  margin-left: 5px;
  padding: 5px 10px;
  line-height: 45px;
  border: 1px solid green;
  border-radius: 16px;
}
.post-title{
  font-size: 20px;
}
.post-item {
  margin-top: 7px;
  font-size: 14px;
  color: #555;
}
